.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.game a {
  color:  rgb(35, 154, 59);
  cursor: pointer;
}

.game a:hover {
  text-decoration: underline;
}

.game-board {
  padding: 10px;
  border: 2px solid #f1f1f1;
  border-radius: 3px;
}

.board-row {
  display: flex;
  width: 100%;
}

.game-board .square {
  height: 80px;
  width: 80px;
  display: flex;
  background-color: rgb(235, 237, 240);
  margin: 3px;
  align-items: center;
  justify-content: center;
  color: #d2d2d2;
  font-size: 32px;
  border-radius: 3px;
}

.game-board .active {
  background-color: rgb(198, 228, 139);
  color: #f1f1f1;
}

.preview {
  margin: 40px;
  display: flex;
  width: 550px;
}

.title {
  width: 60%;
  font-variant-caps: all-small-caps;
  color: #626262;
  margin: auto 0px;
}

.preview .final {
  margin-left: auto;
}

.preview .square {
  height: 20px;
  width: 20px;
  display: flex;
  background-color: rgb(235, 237, 240);
  margin: 1px;
  align-items: center;
  justify-content: center;
  color: #d2d2d2;
  font-size: 32px;
  border-radius: 1px;
}

.preview .active {
  background-color: rgb(198, 228, 139);
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 576px;){
  .game-board {
    width: 100%;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
