.game {
  display: flex;
  align-items: center;
  height: 100vh;
}

.game-board {
  margin: auto;
  padding: 10px;
  border: 2px solid #f1f1f1;
  border-radius: 3px;
  width: 50%;
}

.board-row {
  display: flex;
  width: 100%;
}

.square {
  height: 140px;
  display: flex;
  max-width: 140px;
  width: 100%;
  background-color: #f1f1f1;
  margin: 5px;
  align-items: center;
  justify-content: center;
  color: #d2d2d2;
  font-size: 32px;
  border-radius: 3px;
}

.active {
  background-color: #d2d2d2;
  color: #f1f1f1;
}

.square:active {
  box-shadow:0px 0px 0px 5px white inset;
  border-radius: 7px;

}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media only screen and (min-width: 576px;){
  .game-board {
    width: 100%;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
